.top {
  display: block;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -5;
  width: 1000px;
  height: 600px;
}

.left {
  display: block;
  background-color: transparent;
  position: fixed;
  top: 300px;
  width: 600px;
  height: 600px;
  z-index: -6;
}

.bottom {
  display: block;
  background-color: transparent;
  position: fixed;
  right: 0;
  bottom: 8%;
  z-index: -6;
  width: 600px;
  height: 600px;
}

@media (max-width: 700px) {
  .top {
    display: none;
  }

  .left {
    display: none;
  }

  .bottom {
    display: none;
  }
}
