.loginFormContainer {
  max-width: 26.25rem;
  margin: auto;
  font-family: "Raleway";
}

.loginTextContainer {
  text-align: center;
}

.loginInput {
  border: 2px solid #de8667;
  border-radius: 32px;
  display: block;
  width: 100%;
  height: 2.5rem;
  text-indent: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.loginTitle1 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #322d38;
}

.loginTitle2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #de8667;
}

.loginEmailItem {
  grid-area: emailItem;
}
.loginPasswordItem {
  grid-area: passwordItem;
}

.loginSubmitButtonItem {
  grid-area: submitButtonItem;
}

.loginGrid-container {
  display: grid;
  grid-template-areas:
    "emailItem"
    "passwordItem"
    "submitButtonItem";
}

.loginSubmitButton {
  border: 2px solid #de8667;
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 32px;
  background-color: white;
  color: #de8667;
  margin-top: 0.5rem;
}
