.container {
  position: relative;
}

.navbar {
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  padding-left: 2rem;
}

.navbar .showMobileMenu {
  display: none;
}

.navLoginBtn {
  border: 2px solid #de8667;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #de8667;
  background-color: white;
}

.navSignUpBtn {
  border: 2px solid #de8667;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  background: linear-gradient(257.39deg, #efb467 0%, #de8667 100%);
  color: white;
}

.navHomeBtn > * {
  text-decoration: none;
  color: black;
  display: block;
}

/*hide this element when in desktop mode*/
.navHomeBtnDesktop {
  display: none;
}

.homeRightArrowMobile {
  display: none;
}

.showNavLink {
  display: block;
}

.hideNavLink {
  display: none !important; /*!important uporabimo ker v ".navbar ul li" uporabimo display:inline-bock ter tako overidamo ta stil*/
}

.navAddBtnMobile {
  /*v dektop načinu ne pokažemu + ikone za mobile pogled*/
  display: none;
}

.profileImageNavbar {
  width: 4rem;
}

.desktopMenu {
  align-items: center;
}

.darkBackgroundModal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 700px) {
  /*.idkTest {
    position: static;
    top: 0;
    width: 100%;
    z-index: -2;
    min-height: 300px;
    max-height: 300px;
  }
*/

  .navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  }

  .navbar .logo {
    /*margin-left: auto;
    padding-right: 2rem;*/
    align-items: center;
  }

  .navbar .showMobileMenu {
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 2rem;
  }

  .navbar ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0rem;
    display: none;
    width: 100%;
  }

  .navbar ul li {
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
  }

  .navLoginBtn {
    text-align: center;
    border: 2px solid #de8667;
    border-radius: 32px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #de8667;
  }

  .navSignUpBtn {
    text-align: center;
    border: none;
    border-radius: 32px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(257.39deg, #efb467 0%, #de8667 100%);
  }

  .navHomeBtn {
    display: block;
  }

  .homeLink {
    display: flex;
    justify-content: space-between;
  }

  .homeRightArrowMobile {
    align-items: flex-end;
    display: block;
  }

  .navAddBtnDesktop {
    display: none !important;
  }

  .navbar .navAddBtnMobile {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 2rem;
  }

  #active {
    display: block;
  }
}
