.navbar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  padding: 1rem;
  padding-right: 4rem;
}

.logo {
  padding: 1rem;
  padding-left: 4rem;
}

.navbar .showMobileMenu {
  display: none;
}

.navLoginBtn {
  border: 2px solid #de8667;
  border-radius: 32px;
  padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar .showMobileMenu {
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    width: auto;
    height: 21px;
  }

  .navbar ul li {
    display: block;
    padding: 0.5rem;
  }

  .navbar ul {
    width: 100%;
    display: none;
    margin-top: 0;
  }

  #active {
    display: block;
  }
}
